[submodule "QR-Code-generator"]
	path = QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "lbstanza-cairo"]
	path = lbstanza-cairo
	url = https://github.com/callendorph/lbstanza-cairo
